.siteHeaderRightArea{
  display: none;
}

.siteHeaderMobileToggle{
  padding: 0;
  border: 0;
  background: transparent;
  margin: 0 0 0 16px;
}

.materialSymbolsOutlined{
  height: 40px;
  width: 40px;
  font-size: 40px;
  color: #fff;
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.burgerMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  cursor: pointer;
  margin: 20px;
}

.burgerLine {
  width: 30px;
  height: 5px;
  background-color: white;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.xmenu {
  position: fixed;
  top: 7rem;
  right: 0;
  width: 100%;
  height:calc( 100% - 7rem);
  padding: 60px 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-bottom: 1px solid;
  /* Start animation */
    animation: fadeInSlide 1s ease-in-out
}

.xmenu ul {
  list-style: none;
  padding: 0;
}

.xmenu li {
  margin: 20px 0;
}

.xmenu a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

/* 当菜单打开时，显示菜单 */
.xmenu.show {
  display: block;
}

/* 菜单按钮变形效果 */
.burgerMenu.open .burgerLine:nth-child(1) {
  transform: rotate(45deg);
  position: relative;
  top: 8px;
}

.burgerMenu.open .burgerLine:nth-child(2) {
  opacity: 0;
}

.burgerMenu.open .burgerLine:nth-child(3) {
  transform: rotate(-45deg);
  position: relative;
  top: -8px;
}

.xmenu .siteHeaderLink{
  display: flex;
  width: 100%;
  padding: 1.5rem;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-emphasis-gray);
}

@media (max-width: 576px){
  .siteHeaderRightArea {
    display: flex;
    align-items: center;
    margin: 12px 0 0;
  }
}

@keyframes fadeInSlide {
  0% {
    opacity: 0;
    transform: translateY(50px);
    /* Start off-screen */
  }

  100% {
    opacity: 1;
    /* Fade in */
    transform: translateY(0);
    /* Slide into position */
  }
}