.vehicleStatsSort{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 32px 0;
}

.vehicleStats{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;
}

.stat p{
  color: var(--color-emphasis-high-dark);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.75rem;
}

body {
  background-color: #0c1b29;
  /* Dark blue background */
  font-family: Arial, sans-serif;
}

.sortContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.dropdown {
  position: relative;
}

.dropdownButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 20px;
  background: none;
  color: white;
  cursor: pointer;
}

.dropdownIcon {
  font-size: 1.2rem;
  position: relative;
  top: -0.1rem;
}

.toggleButtons {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 20px;
  overflow: hidden;
}

.toggleButton {
  padding: 0.5rem 1rem;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}

.toggleButton.active {
  background: #ccc;
  color: black;
}

.toggleButton:not(.active):hover {
  background: rgba(255, 255, 255, 0.1);
}

@media(max-width:950px){
  .vehicleStats{
    gap:0.6rem
  }
}

@media(max-width:900px) {
  .vehicleStatsSort{
    flex-direction: column;
  }
}

@media(max-width:576px){
  .sortContainer {
      flex-direction: column;
    }
}