.ngStarInserted{
  color: var(--color-emphasis-high-dark);
  font-size: 64px;
  font-weight: 600;
  line-height: 72px;
  letter-spacing: -1.5px;
  text-align: center;
}

.filterWraper{
  margin-top: 2rem;
}
.newFiltersWraper{
  background: rgba(241, 241, 241, .87);
  padding: 1.5rem;
  border-radius:1.5rem;
}
.filterActions{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.25rem 0 0;
  margin-right: 0.25rem;
}
.filtersButtons{
  display: flex;
  gap: 10px;
}
.filtersWraper{
  display: flex;
  flex-wrap: wrap;
  gap:0.25rem;
  margin-top: calc(-1* var(--bs-gutter-y));
  margin-right: calc(-.5* var(--bs-gutter-x));
  margin-left: calc(-.5* var(--bs-gutter-x));
  justify-content: start;
}

@media(max-width:576px){
  .ngStarInserted{
    font-size: 2rem;
  }
}